In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("bikeshare_train - bikeshare_train.csv")
df2 = df.copy()
df.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 5:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 6:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 7:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 8:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 9:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14

In [3]:
df = df.drop(columns=["casual","registered"])
df.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0000,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0000,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0000,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0000,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0000,1
5,2011-01-01 5:00:00,1,0,0,2,9.84,12.880,75,6.0032,1
6,2011-01-01 6:00:00,1,0,0,1,9.02,13.635,80,0.0000,2
7,2011-01-01 7:00:00,1,0,0,1,8.20,12.880,86,0.0000,3
8,2011-01-01 8:00:00,1,0,0,1,9.84,14.395,75,0.0000,8
9,2011-01-01 9:00:00,1,0,0,1,13.12,17.425,76,0.0000,14

In [4]:
df["datetime"] = pd.to_datetime(df["datetime"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6)
memory usage: 850.6 KB

In [5]:
df["month (name)"] = df["datetime"].dt.month_name()
df["day of week(name)"] = df["datetime"].dt.day_name()
df["hour of day"] = df["datetime"].dt.hour.astype(dtype="object")

df.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week(name),hour of day
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,16,January,Saturday,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,40,January,Saturday,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,32,January,Saturday,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,13,January,Saturday,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,January,Saturday,4
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,1,January,Saturday,5
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,January,Saturday,6
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,3,January,Saturday,7
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,8,January,Saturday,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,14,January,Saturday,9

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           10886 non-null  datetime64[ns]
 1   season             10886 non-null  int64
 2   holiday            10886 non-null  int64
 3   workingday         10886 non-null  int64
 4   weather            10886 non-null  int64
 5   temp               10886 non-null  float64
 6   atemp              10886 non-null  float64
 7   humidity           10886 non-null  int64
 8   windspeed          10886 non-null  float64
 9   count              10886 non-null  int64
 10  month (name)       10886 non-null  object
 11  day of week(name)  10886 non-null  object
 12  hour of day        10886 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(6), object(3)
memory usage: 1.1+ MB

In [7]:
df[['temp', 'atemp']] = df[['temp', 'atemp']].apply(lambda x: x * 9/5 + 32)

In [8]:
df = df.drop(columns=["datetime","season"])
df.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week(name),hour of day
0,0,0,1,49.712,57.911,81,0.0000,16,January,Saturday,0
1,0,0,1,48.236,56.543,80,0.0000,40,January,Saturday,1
2,0,0,1,48.236,56.543,80,0.0000,32,January,Saturday,2
3,0,0,1,49.712,57.911,75,0.0000,13,January,Saturday,3
4,0,0,1,49.712,57.911,75,0.0000,1,January,Saturday,4
5,0,0,2,49.712,55.184,75,6.0032,1,January,Saturday,5
6,0,0,1,48.236,56.543,80,0.0000,2,January,Saturday,6
7,0,0,1,46.760,55.184,86,0.0000,3,January,Saturday,7
8,0,0,1,49.712,57.911,75,0.0000,8,January,Saturday,8
9,0,0,1,55.616,63.365,76,0.0000,14,January,Saturday,9

- Create a new column, 'temp_variance' which shows how much warmer or colder the current temperature ('temp') is than the average temperate for that day of the year ('atemp').  If the current temperature is warmer than average ('atemp'), the value in 'temp_variance' should be positive. 
Drop the 'atemp' column.

In [9]:
df["temp_changes"] = df["temp"] - df["atemp"]
print(df.info())
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   holiday            10886 non-null  int64
 1   workingday         10886 non-null  int64
 2   weather            10886 non-null  int64
 3   temp               10886 non-null  float64
 4   atemp              10886 non-null  float64
 5   humidity           10886 non-null  int64
 6   windspeed          10886 non-null  float64
 7   count              10886 non-null  int64
 8   month (name)       10886 non-null  object
 9   day of week(name)  10886 non-null  object
 10  hour of day        10886 non-null  object
 11  temp_changes       10886 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 1020.7+ KB
None

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week(name),hour of day,temp_changes
10881,0,1,1,60.044,67.451,50,26.0027,336,December,Wednesday,19,-7.407
10882,0,1,1,58.568,63.365,57,15.0013,241,December,Wednesday,20,-4.797
10883,0,1,1,57.092,60.638,61,15.0013,168,December,Wednesday,21,-3.546
10884,0,1,1,57.092,63.365,61,6.0032,129,December,Wednesday,22,-6.273
10885,0,1,1,55.616,61.997,66,8.9981,88,December,Wednesday,23,-6.381

In [10]:
# df["temp_variance"] = temp
df["temp_variance"] = df["temp_changes"].apply(lambda x: "warmer" if x > 0 else "colder")
df.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week(name),hour of day,temp_changes,temp_variance
0,0,0,1,49.712,57.911,81,0.0000,16,January,Saturday,0,-8.199,colder
1,0,0,1,48.236,56.543,80,0.0000,40,January,Saturday,1,-8.307,colder
2,0,0,1,48.236,56.543,80,0.0000,32,January,Saturday,2,-8.307,colder
3,0,0,1,49.712,57.911,75,0.0000,13,January,Saturday,3,-8.199,colder
4,0,0,1,49.712,57.911,75,0.0000,1,January,Saturday,4,-8.199,colder
5,0,0,2,49.712,55.184,75,6.0032,1,January,Saturday,5,-5.472,colder
6,0,0,1,48.236,56.543,80,0.0000,2,January,Saturday,6,-8.307,colder
7,0,0,1,46.760,55.184,86,0.0000,3,January,Saturday,7,-8.424,colder
8,0,0,1,49.712,57.911,75,0.0000,8,January,Saturday,8,-8.199,colder
9,0,0,1,55.616,63.365,76,0.0000,14,January,Saturday,9,-7.749,colder

# Create a model for Bike users

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_selector,make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import set_config
set_config(display='diagram')
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression

# Regression Metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

from IPython.core.display import clear_output

C:\Users\obsid\AppData\Local\Temp\ipykernel_33272\2810762909.py:20: DeprecationWarning: Importing clear_output from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import clear_output

In [12]:
## Create a function to take the true and predicted values
## and print MAE, MSE, RMSE, and R2 metrics for a model
def eval_regression(y_true, y_pred, name='model'):
  """Takes true targets and predictions from a regression model and prints
  MAE, MSE, RMSE, AND R2 scores
  Set 'name' to name of model and 'train' or 'test' as appropriate"""
  mae = mean_absolute_error(y_true, y_pred)
  mse = mean_squared_error(y_true, y_pred)
  rmse = np.sqrt(mse)
  r2 = r2_score(y_true, y_pred)

  print(f'{name} Scores')
  print(f'MAE: {mae:,.4f} \nMSE: {mse:,.4f} \nRMSE: {rmse:,.4f} \nR2: {r2:.4f}\n')

## Import the Model

In [13]:
from sklearn.ensemble import RandomForestRegressor # This line imports Random Forest Regressor

In [14]:
df2.info() # This column tells me dataset size and object type, missing values, etc.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [15]:
print(f" There are {df2.duplicated().sum()} duplicates in our dataset")

 There are 0 duplicates in our dataset

In [16]:
print(f"There are {df2.isna().sum()} missing values in our dataset")

There are datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64 missing values in our dataset

In [17]:
df2.nunique() #

datetime      10886
season            4
holiday           2
workingday        2
weather           4
temp             49
atemp            60
humidity         89
windspeed        28
casual          309
registered      731
count           822
dtype: int64

In [18]:
df2 = df2.drop(columns=["casual","registered"]) # dropping unnecessary columns
df2.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,1

In [19]:
df2.describe(include="all")

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
count,10886,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000
unique,10886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2011-01-01 0:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,191.574132
std,NaN,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,181.144454
min,NaN,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,1.000000
25%,NaN,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,42.000000
50%,NaN,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,145.000000
75%,NaN,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,284.000000
max,NaN,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,977.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   holiday            10886 non-null  int64
 1   workingday         10886 non-null  int64
 2   weather            10886 non-null  int64
 3   temp               10886 non-null  float64
 4   atemp              10886 non-null  float64
 5   humidity           10886 non-null  int64
 6   windspeed          10886 non-null  float64
 7   count              10886 non-null  int64
 8   month (name)       10886 non-null  object
 9   day of week(name)  10886 non-null  object
 10  hour of day        10886 non-null  object
 11  temp_changes       10886 non-null  float64
 12  temp_variance      10886 non-null  object
dtypes: float64(4), int64(5), object(4)
memory usage: 1.1+ MB

## Format for ML and Train Test Split (Unengineered Data Set)

In [21]:
X = df2.drop(columns="count") # These lines of code split our data
y = df2["count"]
X_train, X_test, y_train,y_test = train_test_split(X, y, random_state =42)

### Instantiate transformers

In [22]:
scaler =StandardScaler()
ohe = OneHotEncoder(handle_unknown="ignore")

### Instantiate the Column Selectors

In [23]:
# Instantiate the column selectors
num_selector = make_column_selector(dtype_include="number")
cat_selector = make_column_selector(dtype_include="object")

### Match Transformers with Columns

In [24]:
num_tuple = (scaler, num_selector)
cat_tuple = (ohe, cat_selector)

### Instantiate Column Transformer

In [25]:
preprocessor = make_column_transformer(num_tuple, 
                                       cat_tuple, 
                                       remainder='drop',
                                       verbose_feature_names_out=False)

## Fit the Preprocessor

In [26]:
preprocessor.fit(X_train)

ColumnTransformer(transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x0000025FF3D3E760>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x0000025FF3D263A0>)],
                  verbose_feature_names_out=False)

## Fit the Model

In [27]:
## Create an instance of the model
rf2 = RandomForestRegressor()

## Create a model pipeline
rf_pipe2 = make_pipeline(preprocessor, rf2)

## Fit the model
rf_pipe2.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('standardscaler',
                                                  StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x0000025FF3D3E760>),
                                                 ('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x0000025FF3D263A0>)],
                                   verbose_feature_names_out=False)),
                ('randomforestregressor', RandomForestRegressor())])

## Evaluate Model Metrics

In [28]:
train_preds2 = rf_pipe2.predict(X_train)
test_preds2 = rf_pipe2.predict(X_test)

eval_regression(y_train, train_preds2, name="Random Forest Train")
eval_regression(y_test, test_preds2, name="Random Forest Test")

Random Forest Train Scores
MAE: 37.7566
MSE: 3,400.2137
RMSE: 58.3114
R2: 0.8964

Random Forest Test Scores
MAE: 101.5159
MSE: 24,861.3474
RMSE: 157.6748
R2: 0.2424

# Format for ML and Train Test Split (Engineered Data Set)

In [29]:
X = df.drop(columns="count") # These lines of code split our data
y = df["count"]
X_train, X_test, y_train,y_test = train_test_split(X, y, random_state =42)

## Instantiate transformers

In [30]:
scaler =StandardScaler()
ohe = OneHotEncoder(handle_unknown="ignore")

## Instantiate the Column Selectors

In [31]:
# Instantiate the column selectors
num_selector = make_column_selector(dtype_include="number")
cat_selector = make_column_selector(dtype_include="object")

## Match Transformers with Columns

In [32]:
num_tuple = (scaler, num_selector)
cat_tuple = (ohe, cat_selector)

## Instantiate Column Transformer

In [33]:
preprocessor = make_column_transformer(num_tuple, 
                                       cat_tuple, 
                                       remainder='drop',
                                       verbose_feature_names_out=False)

## Fit the Preprocessor

In [34]:
preprocessor.fit(X_train)

ColumnTransformer(transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x0000025FF3D264F0>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x0000025FEFF57DF0>)],
                  verbose_feature_names_out=False)

## Fit the Model

In [35]:
## Create an instance of the model
rf = RandomForestRegressor()

## Create a model pipeline
rf_pipe = make_pipeline(preprocessor, rf)

## Fit the model
rf_pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('standardscaler',
                                                  StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x0000025FF3D264F0>),
                                                 ('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x0000025FEFF57DF0>)],
                                   verbose_feature_names_out=False)),
                ('randomforestregressor', RandomForestRegressor())])

## Evaluate Model Metrics

In [36]:
train_preds = rf_pipe.predict(X_train)
test_preds = rf_pipe.predict(X_test)

eval_regression(y_train, train_preds, name="Random Forest Train")
eval_regression(y_test, test_preds, name="Random Forest Test")

Random Forest Train Scores
MAE: 18.3072
MSE: 777.2522
RMSE: 27.8792
R2: 0.9763

Random Forest Test Scores
MAE: 48.5664
MSE: 5,286.5175
RMSE: 72.7084
R2: 0.8389

# The Feature Engineering Choices have definitely improved the Model's ability to predict the "count" Target.